.content_home-center-button {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
}

.content_home-center-button div {
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -65%);
}

.content_home-center-button button, .txt-btn_emit {
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    position: absolute;
    z-index: 1;
}

.content_home-center-button .txt-btn_emit {
    box-sizing: border-box;
    height: 180px;
    width: 180px;
    color: #000;
    padding: 0 20px;
    font-weight: bold;
    font-size: 18px;
    top: 50%;
    transform: translate(0, -42%);
    transition: text-shadow .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.content_home-center-button .txt-btn_emit:hover {
    text-shadow: 0 0 30px #000;
}
.content_home-center-button .txt-btn_emit:hover~.polygon_btn-center-front {
    transform: translate(-45%, -50%) rotate(35deg);
}
.content_home-center-button .txt-btn_emit:hover~.polygon_btn-center-back {
    transform: rotate(2deg) scale(1.1);
}

.content_home-center-button .txt-btn_follow_up {
    color: var(--font-color-secondary);
    font-size: 12px;
    bottom: -30px;
}
.content_home-center-button .txt-btn_follow_up:hover {
    color: var(--primary-color);
}

.content_home-center-button svg {
    position: absolute;
    transition: transform .3s ease;
}

.polygon_btn-center-front {
    position: absolute;
    height: 180px;
    width: 180px;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%) rotate(45deg);
}

.polygon_btn-center-back {
    height: 200px;
    width: 200px;
}
