.content_footer-design {
    position: absolute;
    bottom: 0;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
    user-select: none;
    z-index: -1;
}

.content_footer-design svg {
    position: absolute;
}

.polygon_left-bottom {
    left: -50px;
    bottom: -70px;
}

.polygon_right-top {
    top: 80px;
    right: -105px;
}

.polygon_right-bottom {
    right: -45px;
    bottom: -120px;
}
