.description {
  position: absolute;
  width: 45.57vw;
  height: 471px;
  left: 85px;
  top: 50%;
  transform: translate(0, -50%);

  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 74px;
  display: flex;
  align-items: center;

  color: #464646;
  z-index: 3;
}

@media (max-width: 1440px) {
  .description {
    font-size: 52px;
    line-height: 64px;
    left: 5%;
  }
}

@media (max-width: 768px) {
  .description {
    top: calc(var(--header-height) + 2rem);
    transform: none;
  }
}

@media (max-width: 480px) {
  .description {
    position: absolute;
    top: var(--header-height);
    bottom: auto;
    font-size: 36px;
    line-height: normal;
    max-height: 299px;
  }
}
