.description {
  position: absolute;
  width: 45.57vw;
  height: 471px;
  left: 85px;
  top: 50%;
  transform: translate(0, -50%);

  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  display: flex;
  align-items: center;

  color: #464646;
  z-index: 3;
}
