:root {
    --primary-color: #1cd0c5;
    --bg-primary: #303030;
}

* {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--bg-primary);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
