:root {
    --primary-color: #DF6767;
    --secondary-color: #C73F3F;
    --bg-primary: #f1f1f1;
    --font-color-primary: #464646;
    --font-color-secondary: #bebebe;

    --header-height: 55px;
    --navbar-items: 2;  /* number of items in the navbar */
}

* {
    font-family: 'Roboto', sans-serif;
    transition: color .3s ease;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
