:root {
    --primary-color: #1cd0c5;
    --primary-color-hover: #15a59c;
    --bg-primary: #303030;
    --bg-secondary: #262626;
    --font-color-secondary: #c2c2c2;
}

* {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    transition: color .3s ease;
}

body {
    background: var(--bg-primary) !important;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
